/Furniture-Rental-First-Round/frontend/node_modules
/Furniture-Rental-First-Round/backend/node_modules
/Library-Management-Final-Round/frontend/node_modules
/Library-Management-Final-Round/backend/node_modules